validatecicsbundle/examples/catalog.example.service/DFH0XCMN.wsdl

<?xml version="1.0" ?>
<!--This document was generated using 'DFHLS2WS' at mapping level '4.0'. -->
<definitions targetNamespace="file://target.files" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.DFH0XCMNI.com/schemas/DFH0XCMNIInterface" xmlns:resns="http://www.DFH0XCMNO.com/schemas/DFH0XCMNOInterface" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="file://target.files">
   <types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.DFH0XCMNI.com/schemas/DFH0XCMNIInterface" xmlns:tns="http://www.DFH0XCMNI.com/schemas/DFH0XCMNIInterface">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.mappingLevel=4.0</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="dfhcommarea" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="ca_request_id" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="6"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ca_return_code" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedShort">
                                 <xsd:maxInclusive value="99"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ca_response_message" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="79"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ca_inquire_single" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="ca_item_ref_req" nillable="false">
                                    <xsd:annotation>
                                       <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.suppressedField1=DE,de1=6,de2=4,de3=0,a1=false
com.ibm.cics.wsdl.properties.suppressedField2=DE,de1=6,de2=3,de3=0,a1=false</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="9999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="ca_single_item" nillable="false">
                                    <xsd:annotation>
                                       <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.suppressedField1=DE,de1=1,de2=840,de3=0,a1=false,a4=fixed,a10=false</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="ca_sngl_item_ref" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="9999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="ca_sngl_description" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="40"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="ca_sngl_department" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="ca_sngl_cost" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="6"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="in_sngl_stock" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="9999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="on_sngl_order" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="DFH0XCMNOperation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.DFH0XCMNO.com/schemas/DFH0XCMNOInterface" xmlns:tns="http://www.DFH0XCMNO.com/schemas/DFH0XCMNOInterface">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.mappingLevel=4.0</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="dfhcommarea" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="ca_request_id" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="6"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ca_return_code" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedShort">
                                 <xsd:maxInclusive value="99"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ca_response_message" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="79"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ca_inquire_single" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="ca_item_ref_req" nillable="false">
                                    <xsd:annotation>
                                       <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.suppressedField1=DE,de1=6,de2=4,de3=0,a1=false
com.ibm.cics.wsdl.properties.suppressedField2=DE,de1=6,de2=3,de3=0,a1=false</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="9999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="ca_single_item" nillable="false">
                                    <xsd:annotation>
                                       <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.suppressedField1=DE,de1=1,de2=840,de3=0,a1=false,a4=fixed,a10=false</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="ca_sngl_item_ref" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="9999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="ca_sngl_description" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="40"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="ca_sngl_department" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="ca_sngl_cost" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="6"/>
                                                   <xsd:whiteSpace value="preserve"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="in_sngl_stock" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="9999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="on_sngl_order" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="DFH0XCMNOperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="DFH0XCMNOperationResponse">
      <part element="resns:DFH0XCMNOperationResponse" name="ResponsePart"/>
   </message>
   <message name="DFH0XCMNOperationRequest">
      <part element="reqns:DFH0XCMNOperation" name="RequestPart"/>
   </message>
   <portType name="DFH0XCMNPort">
      <operation name="DFH0XCMNOperation">
         <input message="tns:DFH0XCMNOperationRequest" name="DFH0XCMNOperationRequest"/>
         <output message="tns:DFH0XCMNOperationResponse" name="DFH0XCMNOperationResponse"/>
      </operation>
   </portType>
   <binding name="DFH0XCMNHTTPSoapBinding" type="tns:DFH0XCMNPort">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="DFH0XCMNOperation">
         <soap:operation soapAction="" style="document"/>
         <input name="DFH0XCMNOperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="DFH0XCMNOperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="DFH0XCMNService">
      <port binding="tns:DFH0XCMNHTTPSoapBinding" name="DFH0XCMNPort">
         <soap:address location="http://server:port/cics/services/DFH0XCMN"/>
      </port>
   </service>
</definitions>
